<div class="chat-container">
    <h1>{{title}}</h1>
    <h3 class="username">Nombre:
        <span id="username">Desconocido</span>
    </h3>
    <div id="messages" class="message-box"></div>
    <div class="message-input-area"> 
        <input type="text" id="mesaggeInput"
        placeholder="Escribe tu mensaje..."/>
        <button id="sendMessageBtn">Enviar </button>
    </div>
</div>